


.App{
  background-image: url(../src/images/annie-spratt-h-LcVG8W1XY-unsplash.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  opacity: .5;
  margin-top: 40px;
}
.error-message{
  background-color: rgb(238, 11, 11) !important;
  color: black !important;
}


@media only screen and (min-width: 768px)  {
  .ui.container {
    width: 700px;
  }

  .ui.grid.container {
    width: calc( 723px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 723px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 723px  +  5rem ) !important;
  }
}

@media only screen and (min-width: 1024px)  {
  .ui.container {
    width: 950px;
  }

  .ui.grid.container {
    width: calc( 723px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 723px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 723px  +  5rem ) !important;
  }
}

@media only screen and (min-width: 1216px)  {
  .ui.container {
    width: 1150px;
  }

  .ui.grid.container {
    width: calc( 723px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 723px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 723px  +  5rem ) !important;
  }
}

@media only screen and (min-width: 1408px)  {
  .ui.container {
    width: 1350px;
  }

  .ui.grid.container {
    width: calc( 723px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 723px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 723px  +  5rem ) !important;
  }
}
label{
  font-size: 17px !important;
  color: #fff !important;
}
input{
  margin-bottom: 15px !important;
}