.App {
  padding: 0 2rem;
  height: 100%;
}
.error-message {
  background-color: rgb(238, 11, 11) !important;
  color: black !important;
}
.bg-dark {
  background-color: #252525af;
}
.loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.loader {
  margin: auto auto;
}

label {
  font-size: 17px !important;
  color: #fff !important;
}
input {
  margin-bottom: 15px !important;
}
.copyright {
  position: relative;
  margin-top: 20px;
  color: #fff;
  opacity: 0.5;
  bottom: 0;
  text-align: center;
}
