@import "vars";
.my-btn {
  cursor: pointer;
  min-height: 35px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  color: $white;
  background-color: $light-grey;
  padding: 11px 15px;
  font-weight: 700;
  line-height: 1em;
  border-radius: 4px;
  border: solid 1px transparent;
  &:hover {
    border: 1px solid $white;
  }
  &-primary {
    cursor: pointer;
    min-height: 35px;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background-color: $primary;
    color: $white;
    padding: 11px 15px;
    font-weight: 700;
    line-height: 1em;
    border-radius: 4px;
    border: solid 1px transparent;
    &:hover {
      border: 1px solid $white;
    }
  }
  &-icon {
    color: $white;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    &:focus {
      border: none;
      outline: none;
    }
    i.icon {
      margin: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
