.tournament {
  border-radius: 10px;
  background-color: #252525af;
  width: 100%;
  height: 500px;
  border: 1px solid #363636;
  padding: 20px;

  &__header {
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  &__card {
    padding: 20px;
    width: 45%;
    height: 300px;
    color: #fff;

    &__header {
      text-align: center;
      color: #fbae3e;
      margin-bottom: 30px;
    }
  }
  &__types {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
