.drop-menu {
  width: 150px;
  position: absolute;
  background-color: #292929;
  border: 1px solid #363636;
  box-shadow: 2px 3px #020202;
  border-radius: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__item {
    &__text {
      color: #fff;
      width: 100%;
      padding: 0;
      margin: 0;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
        color: #fbae3e;
      }
    }
  }
}
