@import "vars";

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-side {
  width: 48%;
}

.home-card {
  background-color: $dark-grey;
  border-radius: 20px;
  height: 900px;
  position: relative;
  color: #fff;
  border: 1px solid $light-grey;

  &__bg-image {
    border-radius: 20px;
    width: 100%;
  }
  &__content {
    &__text {
      font-size: 1.1em;
    }
    &__icon {
      margin-right: 20px !important;
      color: $gold;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .home-container {
    flex-direction: column;
  }

  .home-side {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .home-card {
    min-height: 600px;
    &__content {
      &__text {
        font-size: 0.9em;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .home-card {
    min-height: 500px;
    &__content {
      &__text {
        font-size: 0.8em;
      }
    }
  }
}
