.login {
  height: 100vh;
  background-image: url("../images/Test-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
}
.copyright {
  color: #fff;
  opacity: 0.5;
}
