.copyright {
  text-align: center;
}
.form {
  padding: 5px 25px 25px 25px;
}

hr {
  margin-bottom: 15px;
}

.register {
  height: 100vh;
  background-image: url("../images/WoWScrnShot_011220_005800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__button {
    width: 100%;
    height: 60px;
    font-size: 18px !important;
    margin-bottom: 15px !important;
  }
  &__reroute {
    color: #fff;
    font-size: 17px;
  }
}
@media only screen and (max-width: 768px) {
  .register {
    height: 110vh;
  }
}
@media only screen and (max-width: 425px) {
  .register {
    width: 106vw;
  }
}
