.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #292929 !important;
   
    
}
.disable{
    pointer-events: none;
}
.disable:hover{
    filter: blur(2px);
}
.navmenu{
    background: #292929 !important;
    border-radius: 5px 5px 0px 0px !important
}
.feedback{
    width: 100px;
    display: flex;
    flex-direction: column;
    padding: 5px;
 
}
div[aria-label]:hover:after {
    content: attr(aria-label);
    padding: 4px 8px;
    position: absolute;
    bottom: 120%;
    left: 65%;
    white-space: nowrap;
    z-index: 20;
    background:#93278f;
}
div:hover {
    position: relative;
}
.feedback-icon{
    color: #fff;
    display: flex;
    justify-content: center;
   
}
.feedback-icon:hover{
    cursor: pointer;

}

.navlinks{
    border-right: 1px solid #363636;
    font-size: 16px;
    color:#fff !important;
   
}
.links{
    text-decoration: none;
   
    
}
.links:hover{
    background-color: #202020;
    transform: scale(1.05);
}

