.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.navmenu{
    background: #292929 !important;
    border-radius: 5px 5px 0px 0px !important
}

.navlinks{
    border-right: 1px solid #363636;
    font-size: 16px;
    color:#fff !important;
   
}
.links{
    text-decoration: none;
   
    
}
.links:hover{
    background-color: #202020;
    transform: scale(1.05);
}

