
.container {
    width: fit-content;
    padding: 0px 0px 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: center;
  
    }
    .box {
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin: 50px;
        display: inline-block;
        
        background: transparent;
        text-decoration: none;
        color: #fff;
        background: #292929 !important;
        transform: rotate(45deg);
        }
        .text {
            height: 100%;
            width: 100%;
            text-align: center;
            justify-content: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            text-transform: uppercase;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
            }
           
  
i{
    margin: 0 !important;
}

.guide-button{
    background-color: #a71a19;
    font-weight: 600;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    a{
        text-decoration: none;
        color: #fff;
    }
}
.guide-button:hover{
    background-color: #f02727;
    cursor: pointer;
}
.guide-image img{
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}
.guide-image{
    height: 100%;
    width: 150px;
}


.guide-content{
    color: #fff;
    width: 100%;
    height: 50px;
    font-size: 10px;
    margin: 0px;

}
.Deathknight{
 
    border: 4px solid #C41F3B;
}
.Druid{
 
    border: 4px solid #FF7D0A;
}
.Hunter{
    
    border: 4px solid #ABD473;
}
.Mage{
    
    border: 4px solid #69CCF0 ;
}
.Monk{
    
    border: 4px solid #00FF96;
}
.Paladin{
    
    border: 4px solid #F58CBA ;
}
.Priest{
    
    border: 4px solid #FFFFFF;

}
.Rogue{
   
    border: 4px solid #FFF569 ;
}
.Shaman{
   
    border: 4px solid #0070DE;
}
.Warlock{
   
    border: 4px solid #9482C9;

}
.Warrior{
  
    border: 4px solid #C79C6E;

}